
.Phonetic {
    height: 30px;
   
}
.Phonetic a {
    font-size: 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
   
}

.Phonetic a:hover {
    background-color: pink;
    color: white;
}

